/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-1);
}

a, button {
    cursor: pointer;
}

/* ROOT */

:root {
    /* Colors */
    --white: #FFFFFF;
    --color-2013: #FF0000;
    --color-2014: #000080;
    --color-2015: #7BA229;
    --color-2016: #FF69B4;
    --color-2017: #F5D115;
    --color-2018: #FF6347;
    --color-2022: #00BFFF;
    --color-2023: #3CB371;
    --color-2024: #9932CC;

    /* Border radius */
    --border-radius: 50%;
}

/* FONTS */

h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: "Outfit", sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

p, a, button {
    font-weight: 300;
}

