header {
    height: 8em;

    display: flex;
    justify-content: space-between;

    margin: 2em;
}

header a {
    width: 3em;
}

header a img {
    width: 100%;
}

main {
    height: calc(100dvh - 14em);

    margin: 2em;
}

main > ul {
    width: 100%;
    height: 100%;

    position: relative;

    display: grid;
    grid-template-columns: repeat(24, 1fr);
    align-items: end;
}

main > ul li {
    position: absolute;
    bottom: 0;
    left: 0;

    list-style: none;
}

/* 2013 */
main > ul li:nth-of-type(1) {
    grid-column: 1/6;
    z-index: 1;
}

/* 2014 */
main > ul li:nth-of-type(2) {
    grid-column: 3/6;
}

/* 2015 */
main > ul li:nth-of-type(3) {
    grid-column: 5/12;
    z-index: 2;
}

/* 2016 */
main > ul li:nth-of-type(4) {
    grid-column: 6/11;
}

/* 2017 */
main > ul li:nth-of-type(5) {
    grid-column: 9/13;
}

/* 2018 */
main > ul li:nth-of-type(6) {
    grid-column: 12/20;
}

/* 2022 */
main > ul li:nth-of-type(7) {
    grid-column: 14/22;
    z-index: 1;
}

/* 2023 */
main > ul li:nth-of-type(8) {
    grid-column: 18/22;
}

/* 2024 */
main > ul li:nth-of-type(9) {
    grid-column: 20/25;
}

main > ul li a img {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    /* 2013 */
    main > ul li:nth-of-type(1) {
        grid-column: 1/12;
    }

    /* 2014 */
    main > ul li:nth-of-type(2) {
        grid-column: 3/7;
    }

    /* 2015 */
    main > ul li:nth-of-type(3) {
        grid-column: 1/12;
        z-index: 3;
    }

    /* 2016 */
    main > ul li:nth-of-type(4) {
        grid-column: 8/16;
    }

    /* 2017 */
    main > ul li:nth-of-type(5) {
        grid-column: 8/14;
        z-index: 2;
    }

    /* 2018 */
    main > ul li:nth-of-type(6) {
        grid-column: 10/22;
        z-index: 1;
    }

    /* 2022 */
    main > ul li:nth-of-type(7) {
        grid-column: 13/25;
        z-index: 3;
    }

    /* 2023 */
    main > ul li:nth-of-type(8) {
        grid-column: 16/22;
    }

    /* 2024 */
    main > ul li:nth-of-type(9) {
        grid-column: 18/25;
        z-index: 2;
    }
}

@media only screen and (max-width: 450px) {
    header {    
        margin: 1em;
    }

    header h1 {
        font-size: 1.5em;
    }

    header p {
        font-size: .8em;
    }
    
    main {
        height: calc(100dvh - 11em);

        margin: 1em;
    }

    main > ul {
        grid-template-rows: repeat(12, 3em);
        align-content: end;
    }

    /* 2013 */
    main > ul li:nth-of-type(1) {
        grid-column: 1/15;
        grid-row: 13/12;
        z-index: 3;
    }

    /* 2014 */
    main > ul li:nth-of-type(2) {
        grid-column: 1/7;
        grid-row: 10/9;
    }

    /* 2015 */
    main > ul li:nth-of-type(3) {
        grid-column: 10/25;
        grid-row: 11/10;
    }

    /* 2016 */
    main > ul li:nth-of-type(4) {
        grid-column: 5/16;
        grid-row: 10/9;
    }

    /* 2017 */
    main > ul li:nth-of-type(5) {
        grid-column: 1/12;
        grid-row: 12/11;
        z-index: 2;
    }

    /* 2018 */
    main > ul li:nth-of-type(6) {
        grid-column: 3/23;
        grid-row: 12/11;
        z-index: 2;
    }

    /* 2022 */
    main > ul li:nth-of-type(7) {
        grid-column: 7/25;
        grid-row: 13/12;
    }

    /* 2023 */
    main > ul li:nth-of-type(8) {
        grid-column: 16/24;
        grid-row: 11/10;
    }

    /* 2024 */
    main > ul li:nth-of-type(9) {
        grid-column: 16/25;
        grid-row: 11/10;
    }
}





